.config/mpv/watch_later/
.config/qutebrowser/bookmarks/
.config/qutebrowser/qsettings/
.config/qutebrowser/quickmarks
.config/ranger/plugins
.config/picom/yay-bin/
.config/ranger/plugins/
.config/ranger/plugins/__pycache__
